openapi: 3.0.0
info:
  contact:
    name: Blockdaemon
    email: info@blockdaemon.com
  description: >-
    The Blockdaemon DeFi API provides a single interface to a multitude of DeFi
    projects and blockchains
  title: Blockdaemon DeFi API
  version: 1.0.0
  x-logo:
    altText: Blockdaemon logo
    backgroundColor: '#fafafa'
    url: >-
      https://storage.googleapis.com/blockdaemon-app-static-images/marketing/PNG/dark-logo.png
externalDocs:
  description: Blockdaemon DeFi documentation
  url: http://www.blockdaemon.com/api/defi
servers:
  - url: https://svc.blockdaemon.com
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: >-
        `X-API-Key: <Token>` header must be set to authenticate API requests.You
        can create tokens in the "Configure" tab of your API access area at
        https://app.blockdaemon.com.
  schemas:
    _aa_senduserops_Request:
      type: object
      properties:
        chainId:
          type: string
          description: >-
            The unique ID to direct queries or transactions to the correct
            blockchain. Find more
            [here](https://docs.blockdaemon.com/docs/defi-api-supported-protocols#supported-chains).
          enum:
            - '1'
            - '56'
            - '43114'
            - '137'
            - '250'
            - '10'
            - '11155420'
            - '42161'
            - '421614'
            - '25'
            - '338'
            - '84532'
            - '8453'
            - '43113'
            - '97'
            - '80002'
            - '300'
            - '324'
          example: '1'
        chainSymbol:
          type: string
          description: The abbreviated chain name for queries or transactions.
          example: ETH
        userOps:
          type: array
          items:
            type: string
          description: >-
            Array of user operation objects as per ERC-4337. Defines one or more
            operations to bundle.
        bundler:
          type: string
          description: >-
            The address of the bundler or beneficiary responsible for executing
            the user operations.
          example: '0x6Fb447Ae94F5180254D436A693907a1f57696900'
        gas:
          type: string
          description: Maximum gas to be approved for the transaction.
          example: '100000'
      required:
        - userOps
        - bundler
      description: The request body for a /defi/v1/aa/senduserops
      example:
        chainId: '1'
        chainSymbol: ETH
        bundler: '0x6Fb447Ae94F5180254D436A693907a1f57696900'
        gas: '100000'
    _bridge_addliquidity_Request:
      type: object
      properties:
        bridgeId:
          type: string
          description: >-
            The unique ID to specify the bridge protocol for routing cross-chain
            queries or transactions. Find more
            [here](https://docs.blockdaemon.com/docs/defi-api-supported-protocols#supported-bridges-protocols).
          enum:
            - '100'
            - '500'
          example: '100'
        srcChainId:
          type: string
          description: >-
            Chain ID of the source chain. Find more
            [here](https://docs.blockdaemon.com/docs/defi-api-supported-protocols#supported-chains).
          example: '1'
        srcTokenSymbol:
          type: string
          description: Symbol of the token to add liquidity
          example: usdt
        srcTokenAddress:
          type: string
          description: Address of the token to add liquidity
          example: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        from:
          type: string
          description: Address of the token sender.
          example: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        amountIn:
          type: string
          description: Amount of token to add as liquidity.
          example: '10000'
        gas:
          type: string
          description: Maximum gas to be approved for the transaction.
          example: '100000'
        srcChainSymbol:
          type: string
          description: Symbol of the source chain
          example: ETH
        gasPriority:
          type: string
          description: >-
            Specifies the priority level for gas fees (e.g., 'low', 'medium', or
            'high'), which influences the transaction speed and cost.
          example: low
        enableFee:
          type: boolean
          description: >-
            Flag to include a basis points fee transaction alongside the main
            transaction when set to true.
          example: false
      required:
        - from
        - amountIn
      description: The request body for a /defi/v1/bridge/addliquidity
      example:
        bridgeId: '100'
        srcChainId: '1'
        srcTokenSymbol: usdt
        srcTokenAddress: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        from: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        amountIn: '10000'
        gas: '100000'
        srcChainSymbol: ETH
        gasPriority: low
        enableFee: false
    _bridge_removeliquidity_Request:
      type: object
      properties:
        bridgeId:
          type: string
          description: >-
            The unique ID to specify the bridge protocol for routing cross-chain
            queries or transactions. Find more
            [here](https://docs.blockdaemon.com/docs/defi-api-supported-protocols#supported-bridges-protocols).
          enum:
            - '100'
            - '500'
          example: '100'
        srcChainId:
          type: string
          description: >-
            The unique chain ID to specify the source chain. Find more
            [here](https://docs.blockdaemon.com/docs/defi-api-supported-protocols#supported-chains).
          example: '1'
        srcTokenSymbol:
          type: string
          description: Symbol of the token to remove liquidity.
          example: usdt
        srcTokenAddress:
          type: string
          description: Address of the token to remove liquidity.
          example: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        from:
          type: string
          description: Address of the token sender.
          example: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        amountOut:
          type: string
          description: Amount of token to remove liquidity.
          example: '10000'
        gas:
          type: string
          description: Maximum gas to be approved for the transaction.
          example: '100000'
        srcChainSymbol:
          type: string
          description: Symbol of the source chain.
          example: ETH
        gasPriority:
          type: string
          description: >-
            Specifies the priority level for gas fees (e.g., 'low', 'medium', or
            'high'), which influences the transaction speed and cost.
          example: low
        enableFee:
          type: boolean
          description: >-
            Flag to include a basis points fee transaction alongside the main
            transaction when set to true.
          example: false
        to:
          type: string
          description: Address of the token recipient.
          example: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
      required:
        - from
        - amountOut
        - to
      description: The request body for a /defi/v1/bridge/removeliquidity
      example:
        bridgeId: '100'
        srcChainId: '1'
        srcTokenSymbol: usdt
        srcTokenAddress: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        from: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        amountOut: '10000'
        gas: '100000'
        srcChainSymbol: ETH
        gasPriority: low
        enableFee: false
        to: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
    _bridge_swap_Request:
      type: object
      properties:
        bridgeId:
          type: string
          description: >-
            The unique ID to specify the bridge protocol for routing cross-chain
            queries or transactions. Find more
            [here](https://docs.blockdaemon.com/docs/defi-api-supported-protocols#supported-bridges-protocols).
          enum:
            - '100'
            - '600'
            - '300'
            - '400'
            - '500'
          example: '100'
        srcTokenSymbol:
          type: string
          description: Symbol of the token to swap.
          example: usdt
        dstChainId:
          type: string
          description: >-
            The unique chain ID to specify the destination chain. Find more
            [here](https://docs.blockdaemon.com/docs/defi-api-supported-protocols#supported-chains).
          example: '1'
        amountIn:
          type: string
          description: Amount of the token to be swapped.
          example: '10000'
        from:
          type: string
          description: Address of the token sender.
          example: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        amountOutMin:
          type: string
          description: Minimum amount accepted as the result of the swap.
          example: '0'
        gas:
          type: string
          description: Maximum gas to be approved for the transaction.
          example: '100000'
        to:
          type: string
          description: Address of the token recipient.
          example: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        dstTokenSymbol:
          type: string
          description: Symbol of the token to be received after the swap.
          example: ETH
        srcChainId:
          type: string
          description: >-
            The unique chain ID to specify the source chain. Find more
            [here](https://docs.blockdaemon.com/docs/defi-api-supported-protocols#supported-chains).
          example: '1'
        srcChainSymbol:
          type: string
          description: Symbol of the source chain.
          example: ETH
        srcTokenAddress:
          type: string
          description: Address of the source token.
          example: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        dstTokenAddress:
          type: string
          description: Address of the destination token.
          example: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        slippage:
          type: string
          description: >-
            Percentage of the total swap value. Defaults to 1. Valid range: 0 <=
            slippage <= 100.
          example: '10'
        gasPriority:
          type: string
          description: >-
            Specifies the priority level for gas fees (e.g., 'low', 'medium', or
            'high'), which influences the transaction speed and cost.
          example: low
        enableFee:
          type: boolean
          description: >-
            Flag to include a basis points fee transaction alongside the main
            transaction when set to true.
          example: false
        batchOption:
          type: string
          description: The batch option to be used for the transaction.
          example: eip5792
        transferMode:
          type: string
          description: >-
            Specifies the mode of token transfer. The first is taxi, where
            tokens are sent to the destination chain at the moment of swap. The
            second is bus ride. Bus ride means that multiple user swaps are
            batched together. 
          example: bus
      required:
        - dstChainId
        - amountIn
        - from
        - to
        - srcChainId
      description: The request body for a /defi/v1/bridge/swap
      example:
        bridgeId: '100'
        srcTokenSymbol: usdt
        dstChainId: '1'
        amountIn: '10000'
        from: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        amountOutMin: '0'
        gas: '100000'
        to: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        dstTokenSymbol: ETH
        srcChainId: '1'
        srcChainSymbol: ETH
        srcTokenAddress: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        dstTokenAddress: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        slippage: '10'
        gasPriority: low
        enableFee: false
        batchOption: eip5792
        transferMode: bus
    _bridge_unlock_Request:
      type: object
      properties:
        bridgeId:
          type: string
          description: >-
            The unique ID to specify the bridge protocol for routing cross-chain
            queries or transactions. Find more
            [here](https://docs.blockdaemon.com/docs/defi-api-supported-protocols#supported-bridges-protocols).
          enum:
            - '300'
          example: '300'
        srcChainId:
          type: string
          description: >-
            The unique chain ID to specify the source chain. Find more
            [here](https://docs.blockdaemon.com/docs/defi-api-supported-protocols#supported-chains).
          example: '1'
        dstChainId:
          type: string
          description: >-
            The unique chain ID to specify the destination chain. Find more
            [here](https://docs.blockdaemon.com/docs/defi-api-supported-protocols#supported-chains).
          example: '1'
        dstTokenSymbol:
          type: string
          description: Symbol of the destination token.
          example: ETH
        dstTokenAddress:
          type: string
          description: Address of the destination token.
          example: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        amount:
          type: string
          description: Amount of the token to unlock.
          example: '10000'
        gas:
          type: string
          description: Maximum gas to be approved for the transaction.
          example: '100000'
        gasPriority:
          type: string
          description: 'Priority level for gas: low, medium, or high.'
          example: low
        receiver:
          type: string
          description: Address of the token receiver.
          example: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        primarySignature:
          type: string
          description: Signature required for EVM to EVM unlock transactions.
          example: >-
            0x426361bb4b3317c04cf61ea9f1b1c736568e37468e042fb485905c984e8f548d2424ebbe6e89762a9d5925140acfacdb789bdc029f4d7095cc982b94530e73211b
        secondarySignature:
          type: string
          description: >-
            Signature required for Stellar to EVM or vice versa unlock
            transactions.
          example: >-
            0xb41459682c24b425f86a3d3d24f7c424025a01a92413cdaa028519c4aa8023ac38a9f23e37b97c9fa2da99f4292d647d0494f23c94658828f8846bcba8164b4b1c
        lockId:
          type: string
          description: Unique lock ID for the transaction.
          example: '2344087691488240225697848222060823058'
        enableFee:
          type: boolean
          description: >-
            Flag to include a basis points fee transaction alongside the main
            transaction when set to true.
          example: false
      required:
        - srcChainId
        - dstChainId
        - dstTokenSymbol
        - dstTokenAddress
        - amount
        - receiver
        - primarySignature
        - lockId
      description: The request body for a /defi/v1/bridge/unlock
      example:
        bridgeId: '300'
        srcChainId: '1'
        dstChainId: '1'
        dstTokenSymbol: ETH
        dstTokenAddress: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        amount: '10000'
        gas: '100000'
        gasPriority: low
        receiver: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        primarySignature: >-
          0x426361bb4b3317c04cf61ea9f1b1c736568e37468e042fb485905c984e8f548d2424ebbe6e89762a9d5925140acfacdb789bdc029f4d7095cc982b94530e73211b
        secondarySignature: >-
          0xb41459682c24b425f86a3d3d24f7c424025a01a92413cdaa028519c4aa8023ac38a9f23e37b97c9fa2da99f4292d647d0494f23c94658828f8846bcba8164b4b1c
        lockId: '2344087691488240225697848222060823058'
        enableFee: false
    _bridge_swapaggregator_Request:
      type: object
      properties:
        srcChainId:
          type: string
          description: >-
            The unique chain ID to specify the source chain. Find more
            [here](https://docs.blockdaemon.com/docs/defi-api-supported-protocols#supported-chains).
          example: '1'
        dstChainId:
          type: string
          description: >-
            The unique chain ID to specify the destination chain. Find more
            [here](https://docs.blockdaemon.com/docs/defi-api-supported-protocols#supported-chains).
          example: '1'
        srcChainSymbol:
          type: string
          description: Symbol of the source chain.
          example: ETH
        srcTokenSymbol:
          type: string
          description: Symbol of the token to swap.
          example: usdt
        dstTokenSymbol:
          type: string
          description: Symbol of the token to be received after the swap.
          example: ETH
        amountIn:
          type: string
          description: Amount of the token to be swapped.
          example: '10000'
        srcTokenAddress:
          type: string
          description: Address of the source token.
          example: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        dstTokenAddress:
          type: string
          description: Address of the destination token.
          example: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        from:
          type: string
          description: Address of the sender of the token.
          example: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        gas:
          type: string
          description: Maximum gas to be approved for the transaction.
          example: '100000'
        to:
          type: string
          description: Address of the recipient of the token.
          example: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        excludedBridges:
          type: string
          description: Comma-separated values of bridges to exclude.
          example: '200'
        bestNetPrice:
          type: boolean
          description: >-
            If true, sorts prepared transactions by net value (amountsOut minus
            gas) in descending order. If multiple sort parameters are true,
            bestNetPrice takes precedence.
          example: false
        bestQuote:
          type: boolean
          description: >-
            If true, sorts prepared transactions by amountsOut in descending
            order. If multiple sort parameters are true, bestNetPrice takes
            precedence.
          example: false
        lowestGas:
          type: boolean
          description: >-
            If true, sorts prepared transactions by gas cost in ascending order.
            If multiple sort parameters are true, bestNetPrice takes precedence.
          example: false
        gasPriority:
          type: string
          description: >-
            Specifies the priority level for gas fees (e.g., 'low', 'medium', or
            'high'), which influences the transaction speed and cost.
          example: low
        enableFee:
          type: boolean
          description: >-
            Flag to include a basis points fee transaction alongside the main
            transaction when set to true.
          example: false
        batchOption:
          type: string
          description: The batch option to be used for the transaction.
          example: eip5792
      required:
        - dstChainId
        - amountIn
        - from
        - to
      description: The request body for a /defi/v1/bridge/swaps
      example:
        srcChainId: '1'
        dstChainId: '1'
        srcChainSymbol: ETH
        srcTokenSymbol: usdt
        dstTokenSymbol: ETH
        amountIn: '10000'
        srcTokenAddress: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        dstTokenAddress: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        from: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        gas: '100000'
        to: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        excludedBridges: '200'
        bestNetPrice: false
        bestQuote: false
        lowestGas: false
        gasPriority: low
        enableFee: false
        batchOption: eip5792
    _bridge_swapwithapproval_Request:
      type: object
      properties:
        bridgeId:
          type: string
          description: >-
            The unique ID to specify the bridge protocol for routing cross-chain
            queries or transactions. Find more
            [here](https://docs.blockdaemon.com/docs/defi-api-supported-protocols#supported-bridges-protocols).
          enum:
            - '600'
            - '300'
            - '400'
            - '100'
            - '500'
          example: '600'
        srcChainId:
          type: string
          description: >-
            The unique chain ID to specify the source chain. Find more
            [here](https://docs.blockdaemon.com/docs/defi-api-supported-protocols#supported-chains).
          example: '1'
        dstChainId:
          type: string
          description: >-
            The unique chain ID to specify the destination chain. Find more
            [here](https://docs.blockdaemon.com/docs/defi-api-supported-protocols#supported-chains).
          example: '1'
        srcTokenSymbol:
          type: string
          description: Symbol of the token to swap.
          example: usdt
        dstTokenSymbol:
          type: string
          description: Symbol of the token to be received after the swap.
          example: ETH
        srcTokenAddress:
          type: string
          description: Address of the source token.
          example: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        dstTokenAddress:
          type: string
          description: Address of the destination token.
          example: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        amountIn:
          type: string
          description: Amount of the token to be swapped.
          example: '10000'
        amountOutMin:
          type: string
          description: Minimum amount accepted as the result of the swap.
          example: '0'
        from:
          type: string
          description: Address of the token sender.
          example: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        to:
          type: string
          description: Address of the token recipient.
          example: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        gasPriority:
          type: string
          description: >-
            Specifies the priority level for gas fees (e.g., 'low', 'medium', or
            'high'), which influences the transaction speed and cost.
          example: low
        slippage:
          type: string
          description: >-
            Percentage of the total swap value. Defaults to 1. Valid range: 0 <=
            slippage <= 100.
          example: '10'
        enableFee:
          type: boolean
          description: >-
            Flag to include a basis points fee transaction alongside the main
            transaction when set to true.
          example: false
        batchOption:
          type: string
          description: The batch option to be used for the transaction.
          example: eip5792
        gas:
          type: string
          description: Maximum gas to be approved for the transaction.
          example: '100000'
        srcChainSymbol:
          type: string
          description: Symbol of the source chain.
          example: ETH
      required:
        - dstChainId
        - amountIn
        - from
        - to
      description: The request body for a /defi/v1/bridge/swap-with-approval
      example:
        bridgeId: '600'
        srcChainId: '1'
        dstChainId: '1'
        srcTokenSymbol: usdt
        dstTokenSymbol: ETH
        srcTokenAddress: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        dstTokenAddress: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        amountIn: '10000'
        amountOutMin: '0'
        from: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        to: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        gasPriority: low
        slippage: '10'
        enableFee: false
        batchOption: eip5792
        gas: '100000'
        srcChainSymbol: ETH
    _chain_createaccount_Request:
      type: object
      properties:
        chainId:
          type: string
          description: >-
            The unique ID to direct queries or transactions to the correct
            blockchain. Find more
            [here](https://docs.blockdaemon.com/docs/defi-api-supported-protocols#supported-chains).
          enum:
            - '1500'
            - '1501'
            - '1600'
            - '1601'
          example: '1500'
        chainSymbol:
          type: string
          description: The abbreviated chain name for queries or transactions.
          example: ETH
        from:
          type: string
          description: Public address of the sender funding the account.
          example: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        to:
          type: string
          description: Public address of the recipient who will receive the funds.
          example: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        amount:
          type: string
          description: Amount of asset to fund the new account.
          example: '10000'
        destinationTag:
          type: string
          description: >-
            Optional tag for identifying the recipient's account on the
            XRPLedger.
          example: '10'
      required:
        - from
        - to
        - amount
      description: The request body for a /defi/v1/chain/createaccount
      example:
        chainId: '1500'
        chainSymbol: ETH
        from: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        to: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        amount: '10000'
        destinationTag: '10'
    _chain_registercoin_Request:
      type: object
      properties:
        chainId:
          type: string
          description: >-
            The unique ID to direct queries or transactions to the correct
            blockchain. Find more
            [here](https://docs.blockdaemon.com/docs/defi-api-supported-protocols#supported-chains).
          enum:
            - '1401'
            - '1400'
          example: '1401'
        chainSymbol:
          type: string
          description: The abbreviated chain name for queries or transactions.
          example: ETH
        from:
          type: string
          description: Public address of the sender funding the account.
          example: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        tokenAddress:
          type: string
          description: Address of the token, user want to register on the chain.
          example: '0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48'
      required:
        - from
      description: The request body for a /defi/v1/chain/registercoin
      example:
        chainId: '1401'
        chainSymbol: ETH
        from: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        tokenAddress: '0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48'
    _chain_createfeetransaction_Request:
      type: object
      properties:
        chainId:
          type: string
          description: >-
            The unique ID to direct queries or transactions to the correct
            blockchain. Find more
            [here](https://docs.blockdaemon.com/docs/defi-api-supported-protocols#supported-chains).
          enum:
            - '1'
            - '11155111'
            - '25'
            - '56'
            - '97'
            - '43114'
            - '338'
            - '43113'
            - '421614'
            - '17000'
            - '42161'
            - '10'
            - '11155420'
            - '4002'
            - '324'
            - '300'
            - '137'
            - '80002'
            - '250'
            - '8453'
            - '84532'
          example: '1'
        chainSymbol:
          type: string
          description: The abbreviated chain name for queries or transactions.
          example: ETH
        from:
          type: string
          description: Public address of the sender initiating the transaction.
          example: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        to:
          type: string
          description: Public address of the recipient receiving the transaction fee.
          example: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        gas:
          type: string
          description: Maximum gas to be approved for the transaction.
          example: '100000'
        value:
          type: string
          description: Amount being sent with the transaction.
          example: '10'
        data:
          type: string
          description: Encoded function call data for the transaction.
          example: >-
            0x40e53eb7000000000000000000000000000000000000000000000000000000000016e360
        gasPrice:
          type: string
          description: The price per unit of gas for the transaction.
          example: '10000'
        referenceId:
          type: string
          description: >-
            A unique identifier generated for each POST request to enable
            tracking and referencing of the associated transaction.
          example: 8eec8150896e4fdaa26d4d1a1338d676
      required:
        - from
        - to
        - value
        - referenceId
      description: The request body for a /defi/v1/chain/createfeetransaction
      example:
        chainId: '1'
        chainSymbol: ETH
        from: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        to: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        gas: '100000'
        value: '10'
        data: >-
          0x40e53eb7000000000000000000000000000000000000000000000000000000000016e360
        gasPrice: '10000'
        referenceId: 8eec8150896e4fdaa26d4d1a1338d676
    _chain_decodetransaction_Request:
      type: object
      properties:
        chainId:
          type: string
          description: >-
            The unique ID to direct queries or transactions to the correct
            blockchain. Find more
            [here](https://docs.blockdaemon.com/docs/defi-api-supported-protocols#supported-chains).
          enum:
            - '1'
            - '11155111'
            - '56'
            - '97'
            - '43114'
            - '338'
            - '900'
            - '901'
            - '1200'
            - '1201'
            - '43113'
            - '42161'
            - '10'
            - '11155420'
            - '4002'
            - '324'
            - '300'
            - cosmoshub-4
            - '1600'
            - '1601'
            - '1700'
            - '1701'
            - osmosis-1
            - osmo-test-5
            - '1800'
            - '1801'
            - '137'
            - '80002'
            - '250'
            - '8453'
            - '84532'
            - '1500'
            - '1501'
            - '5000'
            - '5003'
            - '3637'
            - '3636'
            - '8217'
            - '1001'
          example: '1'
        chainSymbol:
          type: string
          description: The abbreviated chain name for queries or transactions.
          example: ETH
        rawTransaction:
          type: string
          description: >-
            A signed transaction serialized as a base64 string, used to simulate
            contract execution on the blockchain.
          example: >-
            0xf86f048433918fbe830493e0949b79d6dfe4650d70f35dbb80f7d1ec0cf7f823fd87038d7ea4c6800084022794382da0c9bd6b5c7e18a258b04039d524a3e1382ec0f522d160dc027428933f520b6868a07332736f1df297842299230820626f1fc5b8d4cdd602ade55e3ba02c63e756ce
      required:
        - rawTransaction
      description: The request body for a /defi/v1/chain/decodetransaction
      example:
        chainId: '1'
        chainSymbol: ETH
        rawTransaction: >-
          0xf86f048433918fbe830493e0949b79d6dfe4650d70f35dbb80f7d1ec0cf7f823fd87038d7ea4c6800084022794382da0c9bd6b5c7e18a258b04039d524a3e1382ec0f522d160dc027428933f520b6868a07332736f1df297842299230820626f1fc5b8d4cdd602ade55e3ba02c63e756ce
    _chain_estimategas_Request:
      type: object
      properties:
        chainId:
          type: string
          description: >-
            The unique ID to direct queries or transactions to the correct
            blockchain. Find more
            [here](https://docs.blockdaemon.com/docs/defi-api-supported-protocols#supported-chains).
          enum:
            - '1'
            - '11155111'
            - '56'
            - '25'
            - '97'
            - '43114'
            - '338'
            - '43113'
            - '42161'
            - '421614'
            - '17000'
            - '10'
            - '11155420'
            - '4002'
            - '324'
            - '300'
            - '137'
            - '80002'
            - '250'
            - '8453'
            - '84532'
            - '5000'
            - '5003'
            - '3637'
            - '3636'
            - '8217'
            - '1001'
          example: '1'
        chainSymbol:
          type: string
          description: The abbreviated chain name for queries or transactions.
          example: ETH
        data:
          type: string
          description: Encoded function call data for the transaction.
          example: >-
            0x40e53eb7000000000000000000000000000000000000000000000000000000000016e360
        from:
          type: string
          description: Address of the sender initiating the transaction.
          example: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        to:
          type: string
          description: Address of the recipient receiving the transaction.
          example: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        value:
          type: string
          description: Amount being sent with the transaction.
          example: '10'
      required:
        - data
        - from
        - to
      description: The request body for a /defi/v1/chain/estimategas
      example:
        chainId: '1'
        chainSymbol: ETH
        data: >-
          0x40e53eb7000000000000000000000000000000000000000000000000000000000016e360
        from: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        to: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        value: '10'
    _chain_genericsmartcontractmethod_Request:
      type: object
      properties:
        chainId:
          type: string
          description: >-
            The unique ID to direct queries or transactions to the correct
            blockchain. Find more
            [here](https://docs.blockdaemon.com/docs/defi-api-supported-protocols#supported-chains).
          enum:
            - '1'
            - '56'
            - '43114'
            - '42161'
            - '10'
            - '324'
            - '137'
            - '8453'
          example: '1'
        chainSymbol:
          type: string
          description: The abbreviated chain name for queries or transactions.
          example: ETH
        contractAddress:
          type: string
          description: The address of the smart contract to perform the read operation on.
          example: '0xfad57d2039c21811c8f2b5d5b65308aa99d31559'
        parameters:
          type: string
          description: Array of parameters to pass to the read function.
          example: '4515444785'
        abi:
          type: string
          description: ABI of the smart contract if unverified.
          enum:
            - ''
          example: ''
        methodName:
          type: string
          description: Name of the read function to be executed.
          example: getAmountsIn
        blockNumber:
          type: string
          description: >-
            The block number to perform the query on. Defaults to the latest
            block.
          example: '100000'
      required:
        - contractAddress
        - methodName
      description: The request body for a /defi/v1/chain/genericsmartcontractmethod
      example:
        chainId: '1'
        chainSymbol: ETH
        contractAddress: '0xfad57d2039c21811c8f2b5d5b65308aa99d31559'
        parameters: '4515444785'
        abi: ''
        methodName: getAmountsIn
        blockNumber: '100000'
    _chain_sendtransaction_Request:
      type: object
      properties:
        chainId:
          type: string
          description: >-
            The unique ID to direct queries or transactions to the correct
            blockchain. Find more
            [here](https://docs.blockdaemon.com/docs/defi-api-supported-protocols#supported-chains).
          enum:
            - '1'
            - '11155111'
            - '56'
            - '25'
            - '97'
            - '43114'
            - '338'
            - '900'
            - '901'
            - '1000'
            - '1002'
            - '1200'
            - '1201'
            - '43113'
            - '42161'
            - '421614'
            - '10'
            - '11155420'
            - '4002'
            - '324'
            - '300'
            - '1300'
            - '1301'
            - '101'
            - '102'
            - '103'
            - cosmoshub-4
            - '1600'
            - '1601'
            - '1700'
            - '1701'
            - osmosis-1
            - osmo-test-5
            - '1800'
            - '1801'
            - '137'
            - '80002'
            - '250'
            - '8453'
            - '84532'
            - '1400'
            - '1401'
            - '400'
            - '401'
            - '1500'
            - '1501'
            - '17000'
            - '5000'
            - '5003'
            - '3637'
            - '3636'
            - '8217'
            - '1001'
          example: '1'
        chainSymbol:
          type: string
          description: The abbreviated chain name for queries or transactions.
          example: ETH
        rawTransaction:
          type: string
          description: The encoded transaction, obtained from the signed transaction.
          example: >-
            0xf86f048433918fbe830493e0949b79d6dfe4650d70f35dbb80f7d1ec0cf7f823fd87038d7ea4c6800084022794382da0c9bd6b5c7e18a258b04039d524a3e1382ec0f522d160dc027428933f520b6868a07332736f1df297842299230820626f1fc5b8d4cdd602ade55e3ba02c63e756ce
        bdnTransaction:
          type: boolean
          description: >-
            If true, then the transaction goes through the BDN route, which
            speeds up the transaction process. By default, false.
          example: false
        mevProtection:
          type: boolean
          description: >-
            If true, the transaction is routed through Flashbots for MEV
            protection.
          example: false
      required:
        - rawTransaction
      description: The request body for a /defi/v1/chain/sendtransaction
      example:
        chainId: '1'
        chainSymbol: ETH
        rawTransaction: >-
          0xf86f048433918fbe830493e0949b79d6dfe4650d70f35dbb80f7d1ec0cf7f823fd87038d7ea4c6800084022794382da0c9bd6b5c7e18a258b04039d524a3e1382ec0f522d160dc027428933f520b6868a07332736f1df297842299230820626f1fc5b8d4cdd602ade55e3ba02c63e756ce
        bdnTransaction: false
        mevProtection: false
    _chain_simulatetransaction_Request:
      type: object
      properties:
        chainId:
          type: string
          description: >-
            The unique ID to direct queries or transactions to the correct
            blockchain. Find more
            [here](https://docs.blockdaemon.com/docs/defi-api-supported-protocols#supported-chains).
          enum:
            - '1500'
            - '1501'
          example: '1500'
        chainSymbol:
          type: string
          description: The abbreviated chain name for queries or transactions.
          example: ETH
        rawTransaction:
          type: string
          description: A signed Stellar transaction, serialized as a base64 string.
          example: >-
            0xf86f048433918fbe830493e0949b79d6dfe4650d70f35dbb80f7d1ec0cf7f823fd87038d7ea4c6800084022794382da0c9bd6b5c7e18a258b04039d524a3e1382ec0f522d160dc027428933f520b6868a07332736f1df297842299230820626f1fc5b8d4cdd602ade55e3ba02c63e756ce
      required:
        - rawTransaction
      description: The request body for a /defi/v1/chain/simulatetransaction
      example:
        chainId: '1500'
        chainSymbol: ETH
        rawTransaction: >-
          0xf86f048433918fbe830493e0949b79d6dfe4650d70f35dbb80f7d1ec0cf7f823fd87038d7ea4c6800084022794382da0c9bd6b5c7e18a258b04039d524a3e1382ec0f522d160dc027428933f520b6868a07332736f1df297842299230820626f1fc5b8d4cdd602ade55e3ba02c63e756ce
    _dex_addliquidity_Request:
      type: object
      properties:
        dexId:
          type: string
          description: >-
            The unique ID to specify the decentralized exchange (DEX) within a
            particular blockchain. Find more
            [here](https://docs.blockdaemon.com/docs/defi-api-supported-protocols#supported-dexs-protocols).
          enum:
            - '1000'
            - '1001'
            - '1300'
            - '1301'
            - '1305'
            - '1306'
            - '1307'
            - '1308'
            - '1309'
            - '1310'
            - '1100'
            - '1101'
            - '1200'
            - '1201'
            - '2900'
            - '2901'
            - '2800'
            - '2808'
            - '2809'
            - '1500'
            - '1400'
            - '1402'
            - '2300'
            - '2100'
            - '2101'
            - '2500'
            - '2501'
            - '2700'
            - '2400'
            - '2401'
            - '3000'
            - '3001'
            - '3300'
            - '3301'
            - '3500'
            - '3501'
            - '3400'
            - '3401'
            - '3600'
          example: '1000'
        tokenA:
          type: string
          description: Address of the first token being added.
          example: '0x514910771AF9Ca656af840dff83E8264EcF986CA'
        tokenB:
          type: string
          description: Address of the second token being added.
          example: '0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48'
        amountADesired:
          type: string
          description: Desired amount of token A.
          example: '10000'
        amountBDesired:
          type: string
          description: Desired amount of token B.
          example: '10000'
        amountAMin:
          type: string
          description: Minimum amount of token A accepted for the transaction.
          example: '10000'
        amountBMin:
          type: string
          description: Minimum amount of token B accepted for the transaction.
          example: '10000'
        deadline:
          type: string
          description: Deadline for the transaction to be executed (UNIX Timestamp).
          example: '1707313948'
        to:
          type: string
          description: Address of the recipient of the token.
          example: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        from:
          type: string
          description: Address of the sender of the token.
          example: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        gas:
          type: string
          description: Maximum gas to be approved for the transaction.
          example: '100000'
        gasPriority:
          type: string
          description: >-
            Specifies the priority level for gas fees (e.g., 'low', 'medium', or
            'high'), which influences the transaction speed and cost.
          example: low
        slippage:
          type: string
          description: Percentage of total swap value allowed for slippage. By default, 1.
          example: '10'
        enableFee:
          type: boolean
          description: >-
            Flag to include a basis points fee transaction alongside the main
            transaction when set to true.
          example: false
        poolFees:
          type: string
          description: Different pool based on the fees.
          example: '3000'
        tokenId:
          type: string
          description: The token ID for Uniswap V3 liquidity position.
          example: '3238'
        path:
          type: array
          items:
            type: string
          description: Comma-separated values of token addresses.
          example:
            - '0x514910771AF9Ca656af840dff83E8264EcF986CA'
            - '0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48'
        amountIn:
          type: string
          description: Array specifying the amounts of tokens to add liquidity.
          example: '10000'
        amountOut:
          type: string
          description: Amount of tokens accepted as a result of the transaction.
          example: '10000'
        fromInternalBalance:
          type: boolean
          description: >-
            True if sending from internal token balances, otherwise False for
            ERC20.
          example: false
        amountA:
          type: string
          description: Desired amount of token A to be added.
          example: '10000'
        amountB:
          type: string
          description: Desired amount of token B to be added.
          example: '10000'
        strategy:
          type: string
          description: >-
            Liquidity strategy to be used: spotUniform, curve, or bidask.
            Default is spotUniform.
          enum:
            - stable
            - uncorrelated
          example: stable
        amountOutMin:
          type: string
          description: >-
            Minimum amount of liquidity tokens accepted as a result of the
            transaction.
          example: '0'
      required:
        - tokenA
        - tokenB
        - amountADesired
        - amountBDesired
        - amountAMin
        - amountBMin
        - deadline
        - to
        - from
        - poolFees
        - path
        - amountIn
        - gas
        - amountOut
        - fromInternalBalance
        - amountA
        - amountB
      description: The request body for a /defi/v1/dex/addliquidity
      example:
        dexId: '1000'
        tokenA: '0x514910771AF9Ca656af840dff83E8264EcF986CA'
        tokenB: '0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48'
        amountADesired: '10000'
        amountBDesired: '10000'
        amountAMin: '10000'
        amountBMin: '10000'
        deadline: '1707313948'
        to: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        from: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        gas: '100000'
        gasPriority: low
        slippage: '10'
        enableFee: false
        poolFees: '3000'
        tokenId: '3238'
        path:
          - '0x514910771AF9Ca656af840dff83E8264EcF986CA'
          - '0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48'
        amountIn: '10000'
        amountOut: '10000'
        fromInternalBalance: false
        amountA: '10000'
        amountB: '10000'
        strategy: stable
        amountOutMin: '0'
    _dex_cancelorder_Request:
      type: object
      properties:
        dexId:
          type: string
          description: >-
            The unique ID to specify the decentralized exchange (DEX) within a
            particular blockchain. Find more
            [here](https://docs.blockdaemon.com/docs/defi-api-supported-protocols#supported-dexs-protocols).
          enum:
            - '2200'
            - '2201'
            - '2202'
            - '2203'
            - '2204'
            - '2205'
            - '2206'
            - '2209'
          example: '2200'
        orderId:
          type: array
          items:
            type: string
          description: >-
            An array containing the Order ID(s) of the limit orders to be
            canceled.
          example:
            - '95167'
        from:
          type: string
          description: The public address of the user requesting the cancellation.
          example: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        enableFee:
          type: boolean
          description: >-
            Flag to include a basis points fee transaction alongside the main
            transaction when set to true.
          example: false
      required:
        - orderId
        - from
      description: The request body for a /defi/v1/dex/cancelorder
      example:
        dexId: '2200'
        orderId:
          - '95167'
        from: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        enableFee: false
    _dex_createorder_Request:
      type: object
      properties:
        dexId:
          type: string
          description: >-
            The unique ID to specify the decentralized exchange (DEX) within a
            particular blockchain. Find more
            [here](https://docs.blockdaemon.com/docs/defi-api-supported-protocols#supported-dexs-protocols).
          enum:
            - '1900'
            - '2200'
            - '2201'
            - '2202'
            - '2203'
            - '2204'
            - '2205'
            - '2206'
            - '2209'
          example: '1900'
        amountOutMin:
          type: string
          description: >-
            The minimum amount of the token that is acceptable after the
            transaction. Prevents slippage below this threshold.
          example: '0'
        decayStartTime:
          type: string
          description: The start time for Dutch auction bidding. Provide a UNIX Timestamp.
          example: '1741869257'
        decayEndTime:
          type: string
          description: The end time for Dutch auction bidding. Provide a UNIX Timestamp.
          example: '1741969257'
        deadline:
          type: string
          description: >-
            The latest time the transaction is valid before expiration. Provide
            a UNIX Timestamp.
          example: '1707313948'
        from:
          type: string
          description: The wallet address of the token sender.
          example: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        path:
          type: array
          items:
            type: string
          description: Comma-separated values of token addresses, inside an array, to swap.
          example:
            - '0x514910771AF9Ca656af840dff83E8264EcF986CA'
            - '0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48'
        amountIn:
          type: string
          description: The amount of the token to create an order for the swap.
          example: '10000'
        to:
          type: string
          description: The wallet address of the recipient of the token.
          example: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        slippage:
          type: string
          description: >-
            The percentage of the total swap value that is acceptable as
            slippage. Default: 1%. Valid range: 0% ≤ slippage ≤ 10%.
          example: '10'
        enableFee:
          type: boolean
          description: >-
            Flag to include a basis points fee transaction alongside the main
            transaction when set to true.
          example: false
        makerAsset:
          type: string
          description: >-
            The token address of the asset the Maker is offering (selling) in
            the order.
          example: '0x0d500B1d8E8eF31E21C99d1Db9A6444d3ADf1270'
        takerAsset:
          type: string
          description: >-
            The token address of the asset the Maker expects to receive (buying)
            in return.
          example: '0xc2132d05d31c914a87c6611c10748aeb04b58e8f'
        amountOut:
          type: string
          description: The amount of the takerAsset the Maker expects to receive.
          example: '10000'
      required:
        - decayStartTime
        - decayEndTime
        - deadline
        - from
        - path
        - amountIn
        - to
        - makerAsset
        - takerAsset
        - amountOut
      description: The request body for a /defi/v1/dex/createorder
      example:
        dexId: '1900'
        amountOutMin: '0'
        decayStartTime: '1741869257'
        decayEndTime: '1741969257'
        deadline: '1707313948'
        from: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        path:
          - '0x514910771AF9Ca656af840dff83E8264EcF986CA'
          - '0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48'
        amountIn: '10000'
        to: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        slippage: '10'
        enableFee: false
        makerAsset: '0x0d500B1d8E8eF31E21C99d1Db9A6444d3ADf1270'
        takerAsset: '0xc2132d05d31c914a87c6611c10748aeb04b58e8f'
        amountOut: '10000'
    _dex_fillorder_Request:
      type: object
      properties:
        dexId:
          type: string
          description: >-
            The unique ID to specify the decentralized exchange (DEX) within a
            particular blockchain. Find more
            [here](https://docs.blockdaemon.com/docs/defi-api-supported-protocols#supported-dexs-protocols).
          enum:
            - '2200'
            - '2201'
            - '2202'
            - '2203'
            - '2204'
            - '2205'
            - '2206'
            - '2209'
          example: '2200'
        orderId:
          type: array
          items:
            type: string
          description: The ID of the limit order to be filled.
          example:
            - '95167'
        from:
          type: string
          description: The wallet address of the Taker that will receive the Maker asset.
          example: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        amountIn:
          type: string
          description: The amount of the Taker asset being offered to fill the order.
          example: '10000'
        gas:
          type: string
          description: Maximum gas to be approved for the transaction.
          example: '100000'
        gasPriority:
          type: string
          description: >-
            Specifies the priority level for gas fees (e.g., 'low', 'medium', or
            'high'), which influences the transaction speed and cost.
          example: low
        enableFee:
          type: boolean
          description: >-
            Flag to include a basis points fee transaction alongside the main
            transaction when set to true.
          example: false
      required:
        - orderId
        - from
        - amountIn
      description: The request body for a /defi/v1/dex/fillorder
      example:
        dexId: '2200'
        orderId:
          - '95167'
        from: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        amountIn: '10000'
        gas: '100000'
        gasPriority: low
        enableFee: false
    _dex_publishorder_Request:
      type: object
      properties:
        dexId:
          type: string
          description: >-
            The unique ID to specify the decentralized exchange (DEX) within a
            particular blockchain. Find more
            [here](https://docs.blockdaemon.com/docs/defi-api-supported-protocols#supported-dexs-protocols).
          enum:
            - '2200'
            - '2201'
            - '2202'
            - '2203'
            - '2204'
            - '2205'
            - '2206'
            - '2209'
          example: '2200'
        orderType:
          type: string
          description: >-
            The type of order to publish. Can be 'create' or 'cancel'. Defaults
            to 'create'.
          enum:
            - create
            - cancel
          example: create
        makerAsset:
          type: string
          description: The token address of the asset that the Maker is selling.
          example: '0x0d500B1d8E8eF31E21C99d1Db9A6444d3ADf1270'
        takerAsset:
          type: string
          description: The token address of the asset that the Maker expects in return.
          example: '0xc2132d05d31c914a87c6611c10748aeb04b58e8f'
        from:
          type: string
          description: The address of the sender (Maker) initiating the transaction.
          example: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        to:
          type: string
          description: The address of the recipient (Taker) for the transaction.
          example: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        amountIn:
          type: string
          description: The amount of the Maker asset being offered in the order.
          example: '10000'
        amountOut:
          type: string
          description: The expected amount of the Taker asset to be received.
          example: '10000'
        deadline:
          type: string
          description: >-
            The deadline for the transaction to be executed (in UNIX Timestamp
            format).
          example: '1707313948'
        orderId:
          type: boolean
          description: >-
            The unique identifier of the order to retrieve. Use this to fetch
            details for a specific order.
          example: '95167'
        salt:
          type: string
          description: >-
            A randomized value to prevent replay attacks, used as an additional
            input in hashing.
          example: '140518201020656697335313758999689041588'
        enableFee:
          type: boolean
          description: >-
            Flag to include a basis points fee transaction alongside the main
            transaction when set to true.
          example: false
      required:
        - from
      description: The request body for a /defi/v1/dex/publishorder
      example:
        dexId: '2200'
        orderType: create
        makerAsset: '0x0d500B1d8E8eF31E21C99d1Db9A6444d3ADf1270'
        takerAsset: '0xc2132d05d31c914a87c6611c10748aeb04b58e8f'
        from: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        to: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        amountIn: '10000'
        amountOut: '10000'
        deadline: '1707313948'
        orderId: '95167'
        salt: '140518201020656697335313758999689041588'
        enableFee: false
    _dex_removeliquidity_Request:
      type: object
      properties:
        dexId:
          type: string
          description: >-
            The unique ID to specify the decentralized exchange (DEX) within a
            particular blockchain. Find more
            [here](https://docs.blockdaemon.com/docs/defi-api-supported-protocols#supported-dexs-protocols).
          enum:
            - '1000'
            - '1001'
            - '1300'
            - '1301'
            - '1305'
            - '1306'
            - '1307'
            - '1308'
            - '1309'
            - '1310'
            - '1100'
            - '1101'
            - '1200'
            - '1201'
            - '2900'
            - '2901'
            - '2800'
            - '2808'
            - '2809'
            - '1500'
            - '1400'
            - '1402'
            - '2300'
            - '2100'
            - '2101'
            - '2500'
            - '2501'
            - '2700'
            - '2400'
            - '2401'
            - '3000'
            - '3001'
            - '3300'
            - '3301'
            - '3500'
            - '3501'
            - '3400'
            - '3401'
            - '3600'
          example: '1000'
        tokenA:
          type: string
          description: Address of the first token being removed.
          example: '0x514910771AF9Ca656af840dff83E8264EcF986CA'
        tokenB:
          type: string
          description: Address of the second token being removed.
          example: '0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48'
        liquidity:
          type: string
          description: The liquidity to be removed.
          example: '10000'
        amountAMin:
          type: string
          description: Minimum amount of Token A accepted for the transaction.
          example: '10000'
        amountBMin:
          type: string
          description: Minimum amount of Token B accepted for the transaction.
          example: '10000'
        deadline:
          type: string
          description: Deadline for the transaction to be executed (UNIX Timestamp).
          example: '1707313948'
        to:
          type: string
          description: Address of the recipient of the token.
          example: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        from:
          type: string
          description: Address of the sender of the token.
          example: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        gas:
          type: string
          description: Maximum gas to be approved for the transaction.
          example: '100000'
        gasPriority:
          type: string
          description: >-
            Specifies the priority level for gas fees (e.g., 'low', 'medium', or
            'high'), which influences the transaction speed and cost.
          example: low
        slippage:
          type: string
          description: >-
            Percentage of total value allowed for slippage. Default is 1. Range:
            0 <= slippage <= 100.
          example: '10'
        enableFee:
          type: boolean
          description: >-
            Flag to include a basis points fee transaction alongside the main
            transaction when set to true.
          example: false
        tokenId:
          type: string
          description: The token ID for Uniswap V3 liquidity position.
          example: '3238'
        amountAMax:
          type: string
          description: Maximum amount of Token A.
          example: '10000'
        amountBMax:
          type: string
          description: Maximum amount of Token B.
          example: '10000'
        recipient:
          type: string
          description: Recipient for sweep tokens.
          example: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        amountADesired:
          type: string
          description: Desired amount of token A.
          example: '10000'
        amountBDesired:
          type: string
          description: Desired amount of token B.
          example: '10000'
        path:
          type: array
          items:
            type: string
          description: Comma-separated values of token addresses.
          example:
            - '0x514910771AF9Ca656af840dff83E8264EcF986CA'
            - '0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48'
        amountIn:
          type: string
          description: Amount of tokens to add liquidity.
          example: '10000'
        amountOut:
          type: string
          description: Array of tokens accepted as a result of the transaction.
          example: '10000'
        toInternalBalance:
          type: string
          description: >-
            True if receiving tokens as internal token balances. False if
            receiving as ERC20.
          example: false
        binStep:
          type: string
          description: Difference between two consecutive bins.
          example: '20'
        ids:
          type: string
          description: Bin IDs that liquidity should be removed from.
          example: 8375816,8375817
        amounts:
          type: string
          description: LBToken(Liquidity Book Token) amounts to be removed.
          example: '10000'
        positionNFT:
          type: string
          description: LP token that represents a position in a pool.
          example: 45z3G8PxyTuFa9tbr9QMmscGVHvZir4vQK1U5LRKeSQd
        poolAddress:
          type: string
          description: The address of the pool.
          example: '0xfad57d2039c21811c8f2b5d5b65308aa99d31559'
        amountOutMin:
          type: string
          description: Minimum amount to be received.
          example: '0'
        poolFees:
          type: string
          description: >-
            Different pool based on the fees. By default, it is selected as
            2500.
          example: '3000'
      required:
        - tokenA
        - tokenB
        - liquidity
        - amountAMin
        - amountBMin
        - deadline
        - to
        - from
        - tokenId
        - amountADesired
        - amountBDesired
        - path
        - gas
        - amountIn
        - amountOut
        - toInternalBalance
        - binStep
        - ids
        - amounts
        - positionNFT
        - poolAddress
      description: The request body for a /defi/v1/dex/removeliquidity
      example:
        dexId: '1000'
        tokenA: '0x514910771AF9Ca656af840dff83E8264EcF986CA'
        tokenB: '0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48'
        liquidity: '10000'
        amountAMin: '10000'
        amountBMin: '10000'
        deadline: '1707313948'
        to: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        from: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        gas: '100000'
        gasPriority: low
        slippage: '10'
        enableFee: false
        tokenId: '3238'
        amountAMax: '10000'
        amountBMax: '10000'
        recipient: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        amountADesired: '10000'
        amountBDesired: '10000'
        path:
          - '0x514910771AF9Ca656af840dff83E8264EcF986CA'
          - '0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48'
        amountIn: '10000'
        amountOut: '10000'
        toInternalBalance: false
        binStep: '20'
        ids: 8375816,8375817
        amounts: '10000'
        positionNFT: 45z3G8PxyTuFa9tbr9QMmscGVHvZir4vQK1U5LRKeSQd
        poolAddress: '0xfad57d2039c21811c8f2b5d5b65308aa99d31559'
        amountOutMin: '0'
        poolFees: '3000'
    _dex_swap_Request:
      type: object
      properties:
        dexId:
          type: string
          description: >-
            The unique ID to specify the decentralized exchange (DEX) within a
            particular blockchain. Find more
            [here](https://docs.blockdaemon.com/docs/defi-api-supported-protocols#supported-dexs-protocols).
          enum:
            - '1000'
            - '1001'
            - '1900'
            - '1300'
            - '1301'
            - '1305'
            - '1306'
            - '1307'
            - '1308'
            - '1309'
            - '1310'
            - '1100'
            - '1101'
            - '1200'
            - '1201'
            - '2900'
            - '2901'
            - '2800'
            - '2808'
            - '2809'
            - '1500'
            - '1400'
            - '1402'
            - '2300'
            - '2100'
            - '2101'
            - '2500'
            - '2501'
            - '2700'
            - '2600'
            - '2400'
            - '2401'
            - '1600'
            - '1602'
            - '1604'
            - '1605'
            - '1607'
            - '1608'
            - '1700'
            - '1701'
            - '1702'
            - '1703'
            - '1704'
            - '1706'
            - '1707'
            - '2200'
            - '2201'
            - '2202'
            - '2203'
            - '2204'
            - '2205'
            - '2206'
            - '2209'
            - '3000'
            - '3001'
            - '3100'
            - '3300'
            - '3301'
            - '3500'
            - '3501'
            - '3400'
            - '3401'
            - '3600'
            - '3800'
            - '3700'
          example: '1000'
        path:
          type: array
          items:
            type: string
          description: Array of token addresses to swap, in order of the swap.
          example:
            - '0x514910771AF9Ca656af840dff83E8264EcF986CA'
            - '0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48'
        amountIn:
          type: string
          description: Amount of token to be swapped.
          example: '10000'
        amountOutMin:
          type: string
          description: Minimum amount accepted as the result of the swap.
          example: '0'
        to:
          type: string
          description: Address of the recipient of the token.
          example: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        deadline:
          type: string
          description: Deadline for the transaction to be executed (UNIX Timestamp).
          example: '1707313948'
        from:
          type: string
          description: Address of the sender of the token.
          example: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        gas:
          type: string
          description: Maximum gas to be approved for the transaction.
          example: '100000'
        gasPriority:
          type: string
          description: >-
            Specifies the priority level for gas fees (e.g., 'low', 'medium', or
            'high'), which influences the transaction speed and cost.
          example: low
        slippage:
          type: string
          description: >-
            Percentage of total swap value allowed for slippage. Default is 1 (0
            <= slippage <= 100).
          example: '10'
        enableFee:
          type: boolean
          description: >-
            Flag to include a basis points fee transaction alongside the main
            transaction when set to true.
          example: false
        batchOption:
          type: string
          description: The batch option to be used for the transaction.
          example: eip5792
        poolFees:
          type: string
          description: >-
            Different pool based on the fees. By default, it will take the pool
            with maximum amountOut.
          example: '3000'
      required:
        - path
        - amountIn
        - to
        - deadline
        - from
      description: The request body for a /defi/v1/dex/swap
      example:
        dexId: '1000'
        path:
          - '0x514910771AF9Ca656af840dff83E8264EcF986CA'
          - '0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48'
        amountIn: '10000'
        amountOutMin: '0'
        to: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        deadline: '1707313948'
        from: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        gas: '100000'
        gasPriority: low
        slippage: '10'
        enableFee: false
        batchOption: eip5792
        poolFees: '3000'
    _dex_swapaggregator_Request:
      type: object
      properties:
        chainId:
          type: string
          description: >-
            The unique ID to direct queries or transactions to the correct
            blockchain. Find more
            [here](https://docs.blockdaemon.com/docs/defi-api-supported-protocols#supported-chains).
          enum:
            - '1'
            - '43114'
            - '56'
            - '137'
            - '42161'
            - '10'
            - '8453'
            - '324'
            - '5000'
            - '900'
            - '1400'
            - '1200'
            - '101'
            - '1700'
            - '1500'
            - '1100'
            - '1600'
            - '8217'
          example: '1'
        path:
          type: array
          items:
            type: string
          description: Comma-separated values of token pair.
          example:
            - '0x514910771AF9Ca656af840dff83E8264EcF986CA'
            - '0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48'
        amountIn:
          type: string
          description: Amount of token.
          example: '10000'
        chainSymbol:
          type: string
          description: The abbreviated chain name for queries or transactions.
          example: ETH
        from:
          type: string
          description: Address of the sender of the token.
          example: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        gas:
          type: string
          description: Maximum gas to be approved for the transaction.
          example: '100000'
        to:
          type: string
          description: Address of the recipient of the token.
          example: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        poolFees:
          type: string
          description: >-
            Different pool based on the fees. By default, it will take the pool
            with maximum amountOut.
          example: '3000'
        excludedDexes:
          type: string
          description: Comma-separated values of dexes to exclude.
          example: '1700'
        bestNetPrice:
          type: boolean
          description: >-
            If true, sorts prepared transactions by net value (amountsOut minus
            gas) in descending order. If multiple sort parameters are true,
            bestNetPrice takes precedence.
          example: false
        bestQuote:
          type: boolean
          description: >-
            If true, sorts prepared transactions by amountsOut in descending
            order. If multiple sort parameters are true, bestNetPrice takes
            precedence.
          example: false
        lowestGas:
          type: boolean
          description: >-
            If true, sorts prepared transactions by gas cost in ascending order.
            If multiple sort parameters are true, bestNetPrice takes precedence.
          example: false
        gasPriority:
          type: string
          description: >-
            Specifies the priority level for gas fees (e.g., 'low', 'medium', or
            'high'), which influences the transaction speed and cost.
          example: low
        amountOutMin:
          type: string
          description: Minimum amount to be received.
          example: '0'
        slippage:
          type: string
          description: >-
            Percentage of total swap value allowed for slippage. Default is 1 (0
            <= slippage <= 100).
          example: '10'
        enableFee:
          type: boolean
          description: >-
            Flag to include a basis points fee transaction alongside the main
            transaction when set to true.
          example: false
        batchOption:
          type: string
          description: The batch option to be used for the transaction.
          example: eip5792
      required:
        - path
        - amountIn
        - from
        - to
      description: The request body for a /defi/v1/dex/swaps
      example:
        chainId: '1'
        path:
          - '0x514910771AF9Ca656af840dff83E8264EcF986CA'
          - '0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48'
        amountIn: '10000'
        chainSymbol: ETH
        from: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        gas: '100000'
        to: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        poolFees: '3000'
        excludedDexes: '1700'
        bestNetPrice: false
        bestQuote: false
        lowestGas: false
        gasPriority: low
        amountOutMin: '0'
        slippage: '10'
        enableFee: false
        batchOption: eip5792
    _dex_swapwithapproval_Request:
      type: object
      properties:
        dexId:
          type: string
          description: >-
            The unique ID to specify the decentralized exchange (DEX) within a
            particular blockchain. Find more
            [here](https://docs.blockdaemon.com/docs/defi-api-supported-protocols#supported-dexs-protocols).
          enum:
            - '1000'
            - '1001'
            - '1300'
            - '1301'
            - '1305'
            - '1306'
            - '1307'
            - '1308'
            - '1309'
            - '1310'
            - '1100'
            - '1101'
            - '1200'
            - '1201'
            - '2900'
            - '2901'
            - '2800'
            - '2808'
            - '2809'
            - '1500'
            - '1400'
            - '1402'
            - '2300'
            - '2100'
            - '2101'
            - '2500'
            - '2501'
            - '2700'
            - '2600'
            - '2400'
            - '2401'
            - '1600'
            - '1602'
            - '1604'
            - '1605'
            - '1607'
            - '1608'
            - '1700'
            - '1701'
            - '1702'
            - '1703'
            - '1704'
            - '1706'
            - '1707'
            - '2200'
            - '2201'
            - '2202'
            - '2203'
            - '2204'
            - '2205'
            - '2206'
            - '2209'
            - '3000'
            - '3001'
            - '3100'
            - '3300'
            - '3301'
            - '3500'
            - '3501'
            - '3400'
            - '3401'
            - '3600'
            - '3800'
            - '3700'
          example: '1000'
        path:
          type: array
          items:
            type: string
          description: Array of token addresses to swap, in order of the swap.
          example:
            - '0x514910771AF9Ca656af840dff83E8264EcF986CA'
            - '0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48'
        amountIn:
          type: string
          description: Amount of token to be swapped.
          example: '10000'
        amountOutMin:
          type: string
          description: Minimum amount accepted as the result of the swap.
          example: '0'
        to:
          type: string
          description: Address of the recipient of the token.
          example: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        deadline:
          type: string
          description: Deadline for the transaction to be executed (UNIX Timestamp).
          example: '1707313948'
        from:
          type: string
          description: Address of the sender of the token.
          example: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        gas:
          type: string
          description: Maximum gas to be approved for the transaction.
          example: '100000'
        gasPriority:
          type: string
          description: >-
            Specifies the priority level for gas fees (e.g., 'low', 'medium', or
            'high'), which influences the transaction speed and cost.
          example: low
        slippage:
          type: string
          description: >-
            Percentage of total swap value allowed for slippage. Default is 1 (0
            <= slippage <= 100).
          example: '10'
        enableFee:
          type: boolean
          description: >-
            Flag to include a basis points fee transaction alongside the main
            transaction when set to true.
          example: false
        batchOption:
          type: string
          description: The batch option to be used for the transaction.
          example: eip5792
        poolFees:
          type: string
          description: >-
            Different pool based on the fees. By default, it will take the pool
            with maximum amountOut.
          example: '3000'
      required:
        - path
        - amountIn
        - to
        - deadline
        - from
      description: The request body for a /defi/v1/dex/swap-with-approval
      example:
        dexId: '1000'
        path:
          - '0x514910771AF9Ca656af840dff83E8264EcF986CA'
          - '0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48'
        amountIn: '10000'
        amountOutMin: '0'
        to: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        deadline: '1707313948'
        from: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        gas: '100000'
        gasPriority: low
        slippage: '10'
        enableFee: false
        batchOption: eip5792
        poolFees: '3000'
    _fungibletoken_approve_Request:
      type: object
      properties:
        from:
          type: string
          description: Address of the sender of the token.
          example: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        tokenAddress:
          type: string
          description: Address of the token.
          example: '0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48'
        amount:
          type: string
          description: Number of tokens to be approved.
          example: '10000'
        to:
          type: string
          description: Address that will receive the approval to operate on the tokens.
          example: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        gas:
          type: string
          description: Maximum gas to be approved for the transaction.
          example: '100000'
        chainId:
          type: string
          description: >-
            The unique ID to direct queries or transactions to the correct
            blockchain. Find more
            [here](https://docs.blockdaemon.com/docs/defi-api-supported-protocols#supported-chains).
          enum:
            - '1'
            - '56'
            - '43114'
            - '137'
            - '900'
            - '901'
            - '250'
            - '10'
            - '11155420'
            - '42161'
            - '421614'
            - '25'
            - '338'
            - '84532'
            - '8453'
            - '43113'
            - '97'
            - '80002'
            - '300'
            - '324'
            - '5000'
            - '5003'
            - '3637'
            - '3636'
          example: '1'
        chainSymbol:
          type: string
          description: The abbreviated chain name for queries or transactions.
          example: ETH
        gasPriority:
          type: string
          description: >-
            Specifies the priority level for gas fees (e.g., 'low', 'medium', or
            'high'), which influences the transaction speed and cost. Defaults
            to 'medium'.
          example: low
        enableFee:
          type: boolean
          description: >-
            Flag to include a basis points fee transaction alongside the main
            transaction when set to true.
          example: false
      required:
        - from
        - tokenAddress
        - amount
        - to
      description: The request body for a /defi/v1/fungibletoken/approve
      example:
        from: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        tokenAddress: '0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48'
        amount: '10000'
        to: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        gas: '100000'
        chainId: '1'
        chainSymbol: ETH
        gasPriority: low
        enableFee: false
    _fungibletoken_convertbasetokentowraptoken_Request:
      type: object
      properties:
        from:
          type: string
          description: Address of the sender of the token.
          example: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        tokenAddress:
          type: string
          description: Address of the token.
          example: '0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48'
        amount:
          type: string
          description: Number of tokens to convert.
          example: '10000'
        gas:
          type: string
          description: Maximum gas to be approved for the transaction.
          example: '100000'
        chainId:
          type: string
          description: >-
            The unique ID to direct queries or transactions to the correct
            blockchain. Find more
            [here](https://docs.blockdaemon.com/docs/defi-api-supported-protocols#supported-chains).
          enum:
            - '1'
            - '56'
            - '43114'
            - '137'
            - '250'
            - '10'
            - '11155420'
            - '42161'
            - '421614'
            - '25'
            - '338'
            - '84532'
            - '8453'
            - '43113'
            - '97'
            - '80002'
            - '300'
            - '324'
            - '5000'
            - '5003'
            - '3637'
            - '3636'
          example: '1'
        chainSymbol:
          type: string
          description: The abbreviated chain name for queries or transactions.
          example: ETH
        gasPriority:
          type: string
          description: >-
            Specifies the priority level for gas fees (e.g., 'low', 'medium', or
            'high'), which influences the transaction speed and cost.
          example: low
        enableFee:
          type: boolean
          description: >-
            Flag to include a basis points fee transaction alongside the main
            transaction when set to true.
          example: false
      required:
        - from
        - tokenAddress
        - amount
      description: >-
        The request body for a
        /defi/v1/fungibletoken/convertbasetokentowraptoken
      example:
        from: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        tokenAddress: '0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48'
        amount: '10000'
        gas: '100000'
        chainId: '1'
        chainSymbol: ETH
        gasPriority: low
        enableFee: false
    _fungibletoken_convertwraptokentobasetoken_Request:
      type: object
      properties:
        from:
          type: string
          description: Address of the sender of the token.
          example: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        tokenAddress:
          type: string
          description: Address of the token.
          example: '0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48'
        amount:
          type: string
          description: Number of tokens to convert.
          example: '10000'
        gas:
          type: string
          description: Maximum gas to be approved for the transaction.
          example: '100000'
        chainId:
          type: string
          description: >-
            The unique ID to direct queries or transactions to the correct
            blockchain. Find more
            [here](https://docs.blockdaemon.com/docs/defi-api-supported-protocols#supported-chains).
          enum:
            - '1'
            - '56'
            - '43114'
            - '137'
            - '250'
            - '10'
            - '11155420'
            - '42161'
            - '421614'
            - '25'
            - '338'
            - '84532'
            - '8453'
            - '43113'
            - '97'
            - '80002'
            - '300'
            - '324'
            - '5000'
            - '5003'
            - '3637'
            - '3636'
            - '8217'
            - '1001'
          example: '1'
        chainSymbol:
          type: string
          description: The abbreviated chain name for queries or transactions.
          example: ETH
        gasPriority:
          type: string
          description: >-
            Specifies the priority level for gas fees (e.g., 'low', 'medium', or
            'high'), which influences the transaction speed and cost.
          example: low
        enableFee:
          type: boolean
          description: >-
            Flag to include a basis points fee transaction alongside the main
            transaction when set to true.
          example: false
      required:
        - from
        - tokenAddress
        - amount
      description: >-
        The request body for a
        /defi/v1/fungibletoken/convertwraptokentobasetoken
      example:
        from: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        tokenAddress: '0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48'
        amount: '10000'
        gas: '100000'
        chainId: '1'
        chainSymbol: ETH
        gasPriority: low
        enableFee: false
    _fungibletoken_transfer_Request:
      type: object
      properties:
        from:
          type: string
          description: Address of the sender of the token.
          example: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        tokenAddress:
          type: string
          description: Address of the token.
          example: '0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48'
        amount:
          type: string
          description: Number of tokens to transfer.
          example: '10000'
        to:
          type: string
          description: Address of the recipient of the token.
          example: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        gas:
          type: string
          description: Maximum gas to be approved for the transaction.
          example: '100000'
        chainId:
          type: string
          description: >-
            The unique ID to direct queries or transactions to the correct
            blockchain. Find more
            [here](https://docs.blockdaemon.com/docs/defi-api-supported-protocols#supported-chains).
          enum:
            - '1'
            - '56'
            - '43114'
            - '137'
            - '900'
            - '901'
            - '250'
            - '10'
            - '11155420'
            - '42161'
            - '421614'
            - '25'
            - '338'
            - '84532'
            - '8453'
            - '43113'
            - '97'
            - '80002'
            - '300'
            - '324'
            - '5000'
            - '5003'
            - '3637'
            - '3636'
          example: '1'
        chainSymbol:
          type: string
          description: The abbreviated chain name for queries or transactions.
          example: ETH
        gasPriority:
          type: string
          description: >-
            Specifies the priority level for gas fees (e.g., 'low', 'medium', or
            'high'), which influences the transaction speed and cost.
          example: low
        enableFee:
          type: boolean
          description: >-
            Flag to include a basis points fee transaction alongside the main
            transaction when set to true.
          example: false
      required:
        - from
        - tokenAddress
        - amount
        - to
      description: The request body for a /defi/v1/fungibletoken/transfer
      example:
        from: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        tokenAddress: '0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48'
        amount: '10000'
        to: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        gas: '100000'
        chainId: '1'
        chainSymbol: ETH
        gasPriority: low
        enableFee: false
    _fungibletoken_transferfrom_Request:
      type: object
      properties:
        from:
          type: string
          description: Address of the sender of the token.
          example: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        tokenAddress:
          type: string
          description: Address of the token.
          example: '0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48'
        amount:
          type: string
          description: Number of tokens to transfer.
          example: '10000'
        to:
          type: string
          description: Address, on whose behalf the tokens are spent (the spender).
          example: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        gas:
          type: string
          description: Maximum gas to be approved for the transaction.
          example: '100000'
        chainId:
          type: string
          description: >-
            The unique ID to direct queries or transactions to the correct
            blockchain. Find more
            [here](https://docs.blockdaemon.com/docs/defi-api-supported-protocols#supported-chains).
          enum:
            - '1'
            - '56'
            - '43114'
            - '137'
            - '250'
            - '10'
            - '11155420'
            - '42161'
            - '421614'
            - '25'
            - '338'
            - '84532'
            - '8453'
            - '43113'
            - '97'
            - '80002'
            - '300'
            - '324'
            - '5000'
            - '5003'
            - '3637'
            - '3636'
          example: '1'
        chainSymbol:
          type: string
          description: The abbreviated chain name for queries or transactions.
          example: ETH
        receiver:
          type: string
          description: Address of the recipient receiving the tokens.
          example: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        gasPriority:
          type: string
          description: >-
            Specifies the priority level for gas fees (e.g., 'low', 'medium', or
            'high'), which influences the transaction speed and cost.
          example: low
        enableFee:
          type: boolean
          description: >-
            Flag to include a basis points fee transaction alongside the main
            transaction when set to true.
          example: false
      required:
        - from
        - tokenAddress
        - amount
        - to
        - receiver
      description: The request body for a /defi/v1/fungibletoken/transferfrom
      example:
        from: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        tokenAddress: '0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48'
        amount: '10000'
        to: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        gas: '100000'
        chainId: '1'
        chainSymbol: ETH
        receiver: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        gasPriority: low
        enableFee: false
    _lendborrow_allow_Request:
      type: object
      properties:
        lendborrowId:
          type: string
          description: >-
            The unique ID to specify the lending and borrowing protocol for
            routing relevant queries or transactions.
          enum:
            - '1300'
            - '1302'
          example: '1300'
        manager:
          type: string
          description: >-
            The address of the account that will be granted or revoked manager
            permissions.
          example: '0xc3d688B66703497DAA19211EEdff47f25384cdc3'
        isAllowed:
          type: boolean
          description: >-
            Set to 'true' to allow the manager or 'false' to disallow the
            manager. Defaults to 'true'.
          example: false
        from:
          type: string
          description: Public address of the sender initiating the transaction.
          example: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        gas:
          type: string
          description: Maximum gas to be approved for the transaction.
          example: '100000'
        gasPriority:
          type: string
          description: >-
            Specifies the priority level for gas fees (e.g., 'low', 'medium', or
            'high'), which influences the transaction speed and cost.
          example: low
        market:
          type: string
          description: >-
            Standard market choice like USDC or WETH. Defaults to USDC if not
            specified.
          example: USDC
        enableFee:
          type: boolean
          description: >-
            Flag to include a basis points fee transaction alongside the main
            transaction when set to true.
          example: false
      required:
        - manager
        - isAllowed
        - from
      description: The request body for a /defi/v1/lendborrow/allow
      example:
        lendborrowId: '1300'
        manager: '0xc3d688B66703497DAA19211EEdff47f25384cdc3'
        isAllowed: false
        from: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        gas: '100000'
        gasPriority: low
        market: USDC
        enableFee: false
    _lendborrow_borrow_Request:
      type: object
      properties:
        lendborrowId:
          type: string
          description: >-
            The unique ID to specify the lending and borrowing protocol for
            routing relevant queries or transactions.
          enum:
            - '1000'
            - '1003'
            - '1005'
            - '1200'
            - '1202'
            - '1203'
            - '1204'
            - '1205'
            - '1206'
            - '1207'
            - '1100'
            - '1300'
            - '1302'
            - '1400'
            - '1401'
            - '1402'
            - '1403'
            - '1404'
          example: '1000'
        asset:
          type: string
          description: The token address of the asset to borrow.
          example: '0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2'
        amount:
          type: string
          description: The number of tokens to borrow.
          example: '10000'
        interestRateMode:
          type: string
          description: Interest mode as per Aave. Use 0 for static and 1 for variable.
          example: '1'
        onBehalfOf:
          type: string
          description: >-
            Public address of the user on whose behalf the borrow action will be
            executed.
          example: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        from:
          type: string
          description: Sender's public address.
          example: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        gas:
          type: string
          description: Maximum gas to be approved for the transaction.
          example: '100000'
        gasPriority:
          type: string
          description: >-
            Specifies the priority level for gas fees (e.g., 'low', 'medium', or
            'high'), which influences the transaction speed and cost.
          example: low
        enableFee:
          type: boolean
          description: >-
            Flag to include a basis points fee transaction alongside the main
            transaction when set to true.
          example: false
        market:
          type: string
          description: >-
            Asset market, such as USDC or WETH. Defaults to USDC if not
            provided.
          example: USDC
        marketId:
          type: string
          description: Specifies the market Id of any market in Morpho.
          example: '0x3b3769cfca57be2eaed03fcc5299c25691b77781a1e124e7a8d520eb9a7eabb5'
        to:
          type: string
          description: Address of the token recipient.
          example: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
      required:
        - asset
        - amount
        - interestRateMode
        - onBehalfOf
        - from
        - marketId
        - to
      description: The request body for a /defi/v1/lendborrow/borrow
      example:
        lendborrowId: '1000'
        asset: '0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2'
        amount: '10000'
        interestRateMode: '1'
        onBehalfOf: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        from: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        gas: '100000'
        gasPriority: low
        enableFee: false
        market: USDC
        marketId: '0x3b3769cfca57be2eaed03fcc5299c25691b77781a1e124e7a8d520eb9a7eabb5'
        to: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
    _lendborrow_bundleactions_Request:
      type: object
      properties:
        lendborrowId:
          type: string
          description: >-
            The unique ID to specify the lending and borrowing protocol for
            routing relevant queries or transactions.
          enum:
            - '1300'
            - '1302'
          example: '1300'
        actions:
          type: string
          description: >-
            An array of strings, where each string represents a specific lending
            or borrowing operation to execute.
          example: ACTION_SUPPLY_NATIVE_TOKEN
        data:
          type: string
          description: >-
            An array containing the encoded call data payloads corresponding to
            each action listed in the actions array. Each payload includes the
            parameters necessary for its respective operation.
          example: >-
            0x40e53eb7000000000000000000000000000000000000000000000000000000000016e360
        from:
          type: string
          description: Public address of the sender initiating the transaction.
          example: '0xdAe2F6EdDdA6fb4fb60cc02633DE27e2b431B402'
        gas:
[...]
